{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Role Generator</title>
    <link rel="stylesheet" type='text/css' href="{% static 'role_generator/css/style.css' %}">
  </head>
  <body>
    <header>Role Generator</header>
    <main>
      <div id="create" href="{% url 'room'}">Create</div>
      <input id="join" type="text" maxlength=4 placeholder="AX5V">
    </main>
    <footer>made by me</footer>
    <script>
    const csrftoken = '{{ csrf_token }}';
    </script>
    <script src="{% static 'role_generator/js/index.js' %}"></script>
  </body>
</html>
