{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Role Generator</title>
    <link rel="stylesheet" type='text/css' href="{% static 'role_generator/css/style.css' %}">
  </head>
  <body>
    <header>Role Generator</header>
    <main>
      <div id="grid">
        <div id="room-code"> {{ room_code }}</div>
        <div class="box" id="box1">
          {% for participant in participants %}
          <div class="participant">
            <div class="participant-name">
              {{ participant.name }}
              {% if participant.is_host %}
                <span id="host">HOST</span>
              {% endif %}
            </div>
            <input id="participant-input">
            {% if participant.is_current_user %}
              <div id="participant-edit">Change Name</div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <div class="box" id="box2"></div>
      </div>
    </main>
    <footer>made by me</footer>
    <script>
    const csrftoken = '{{ csrf_token }}';
    const room_code = '{{ room_code }}'
    </script>
    <script src="{% static 'role_generator/js/room.js' %}"></script>
  </body>
</html>