<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Role Generator</title>
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'role_generator/css/style.css' %}">
  </head>
  <body>
    <header>Role Generator</header>
    <main>
      <div id="room-code"> {{ room_code }}</div>
      <div id=""></div>
    </main>
    <footer>made by me</footer>
    {% load static %}
    <script src="{% static 'role_generator/js/index.js' %}"></script>
  </body>
</html>