* {
    padding: 0;
    margin: 0;
    color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    background-color: rgb(6, 6, 24);
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

header {
    font-size: 48px;
}

footer {
    color: rgb(55, 55, 105)
}

main {
    background-color: antiquewhite;
    display: flex;
    gap: 10%;
    flex-grow: 6;
    justify-content: center;
    align-items: center;
}

/* homepage 
*/

#code {
    box-sizing: border-box;
    width: 75%;
    border-color: rgb(6, 6, 24);
    border-width: 3px;
    color: rgb(6, 6, 24);
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}

#code::placeholder {
    color: rgb(55, 55, 105)
}

#join {
    width: 25%;
}

#create, #join {
    background-color: rgb(6, 6, 24);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

#create:hover, #join:hover {
    background-color: rgb(10, 10, 36);
}

#create:active, #join:active {
    background-color: rgb(14, 14, 48);
}

#create, #joinflex {
    min-width: 450px;
    min-height: 200px;
}

#joinflex {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

/* homepage 
*/
/* room
*/

#room-code {
    color: black
}

/* room
*/